{% extends "frontend/base.html" %}

{% block title %}资本国度-重置密码{% endblock %}
{% block body %}

<!--main content-->
<div class="middle">
    <h1 class="side_tit">重置密码</h1>
    <div class="login_box">
        <ul class="login_ul">
            <li>
                <h5>新密码</h5>
                <input type="password" required id="password" name="password" value="">
            </li>
            <li>
                <h5>确认密码</h5>
                <input type="password" required id="confirm_password" name="confirm_password" value="">
            </li>
            <li>
                <h5>安全码</h5>
                <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">  
                <input class="w150" type="text" id="id_reg_captcha_1" name="id_reg_captcha_1">
                <div class="captcha">
                    <a href="#" class="next-captcha">
                        <img src="{{ captcha_url }}" class="captcha-img" alt="captcha">
                    </a>
                </div>
            </li>
            <li style="padding-left: 90px;"><button class="btn_globe" onclick="reset_pwd()">重置</button></li>
        </ul>
    </div>
</div>


<div class="popup" id="pop" style="display:none">
    <h1>提示<button id="btn_close" onclick="javascript:document.getElementById('pop').style.display='none'"></button></h1>
    <div class="pop_body">
        <p class="pop_tip">密码已经成功重置，马上登陆吧！</p>
    </div>
    <div class="pop_bottom">
        <button class="pop_sure" onclick="javascript:document.getElementById('pop').style.display='none'">确定</button>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    // 刷新验证码  
    $(".next-captcha").click(function(event){  
        refresh_code();
        event.preventDefault();
    });
});

function refresh_code() {
    $.getJSON("/member/refresh-captcha/", function(json) {  
        // This should update your captcha image src and captcha hidden input  
        // debugger;  
        var status = json['status'];  
        var new_cptch_key = json['new_cptch_key'];  
        var new_cptch_image = json['new_cptch_image'];  
        id_captcha_0 = $("#id_reg_captcha_0");  
        img = $(".captcha-img");  
        id_captcha_0.attr("value", new_cptch_key);  
        img.attr("src", new_cptch_image);  
    });
}

function reset_pwd() {
    var password = $('#password').val();
    var confirm_password = $('#confirm_password').val();
    var captcha_code = $('#id_reg_captcha_1').val();

    if ($.trim(password) == '') {
        alert('请输入新密码');
        return false;
    }
    if ($.trim(confirm_password) == '') {
        alert('请输入确认密码');
        return false;
    }
    if (password != confirm_password) {
        alert('两次密码输入不一致');
        return false;
    }
    if ($.trim(captcha_code) == '') {
        alert('请输入安全码');
        return false;
    }

    var params = {
        password: password,
        confirm_password: confirm_password,
        captcha_code: captcha_code,
        captcha_code_key: $('#id_reg_captcha_0').val(),
        pwd_hashkey: '{{ pwd_hashkey }}'
    }
    $.ajax({
        url: '/member/reset-password/?hashkey={{ pwd_hashkey }}',
        type: 'POST',
        dataType: 'json',
        data: params,
        success: function(resp) {
            if (resp.c == 0) {
                $('#pop').show();
            } else {
                refresh_code();
                alert(resp.m);
            }
        }
    });
}
</script>
{% endblock %}