{% extends "frontend/member/base.html" %}

{% block title %}资本国度-比赛{% endblock %}
{% block body %}
<!--middle-->
<div class="main_middle">
    <h1 class="middle_tit"><img src="/static/images/tit_presentation.png"></h1>
    <ul class="presentation_ul mt10">
        <li><a href="https://bitday.biz/" target="_blank"><img src="/static/pic/dowry1.gif"></a></li>
            <li><a href=" http://www.gpt1.com/" target="_blank"><img src="/static/pic/dowry2.gif"></a></li>
            <li><a href="https://freebitco.in/?r=2910069" target="_blank"><img src="/static/pic/dowry3.gif"></a></li>
            <li>
                <a href="http://highestpaygpt.com/home?refid=20" target="_blank"><img src="/static/pic/dowry4.gif"></a></li>

            <li>
                <a href="http://finosity.com/freeaccess/400in4hours.php?t=13m121115bn468400in4hoursint" target="_blank">
                    <img src="/static/pic/dowry5.gif">
                </a>
            </li>
            <li>
                <a href=" https://theminers.biz" target="_blank">
                    <img src="/static/pic/dowry6.gif">
                </a>
            </li>
            <li>
                <a href="http://superpay.me/" target="_blank">
                    <img src="/static/pic/dowry7.gif">
                </a>
            </li>
            <li>
                <a href="http://aglocoptr.com/" target="_blank">
                    <img src="/static/pic/dowry8.gif">
                </a>
            </li>
    </ul>
    <div class="tc mt10 mb10"><img src="/static/images/split-line.png"></div>
    <ul class="presentation_ul">
        <li>
            <a href="http://myinfinitedownline.com/?ref=christinersilva" target="_blank">
                <img src="/static/pic/dowry9.gif">
            </a>
        </li>
        <li>
            <a href="http://offernation.com/members/withdraw/list.php?refid=83" target="_blank">
                <img src="/static/pic/dowry10.gif">
            </a>
        </li>
        <li>
            <a href="http://point.st/" target="_blank">
                <img src="/static/pic/dowry11.gif">
            </a>
        </li>
        <li>
            <a href="https://mintvine.com/" target="_blank">
                <img src="/static/pic/dowry12.gif">
            </a>
        </li>
    </ul>
    <div class="warning mt40">
        <p class="mb10">警告：一些优惠被认为是有风险的，</p>
        <p>这些报价将被记入您完成后30天，以支付我们从任何欺诈或未支付的广告客户。</p>
    </div>
</div><!--end of middle-->
{% endblock %}