{% extends "frontend/member/base.html" %}

{% block title %}资本国度-通店{% endblock %}
{% block body %}
<!--middle-->
<div class="main_middle middle_box">
    <h1 class="middle_tit"><img src="/static/images/tit_presentation.png"></h1>
    <ul class="payment">
        <li><a href="#"><img src="/static/images/pay01.png"></a></li>
        <li><a href="#"><img width="160" src="/static/images/pay02.png"></a></li>
        <li><a href="#"><img src="/static/images/pay03.png"></a></li>
        <li><a href="#"><img src="/static/images/pay04.png"></a></li>
        <li><a href="#"><img src="/static/images/pay05.png"></a></li>
        <li><a href="#"><img src="/static/images/pay06.png"></a></li>
    </ul>
    <ul class="shop_list clearfloat">
        <li class="mr15"><a href="#">
            <h4>Newpack</h4>
            <img class="shop_img" src="/static/images/shop001.png">
            <div class="price">
                <img src="/static/images/icon_dollar02.png">
                <p>1.22</p>
            </div>
        </a></li>
        <li class="mr15"><a href="#">
            <h4>Newpack</h4>
            <img class="shop_img" src="/static/images/shop002.png">
            <div class="price">
                <img src="/static/images/icon_dollar02.png">
                <p>1.22</p>
            </div>
        </a></li>
        <li><a href="#">
            <h4>Newpack</h4>
            <img class="shop_img" src="/static/images/shop003.png">
            <div class="price">
                <img src="/static/images/icon_dollar02.png">
                <p>1.22</p>
            </div>
        </a></li>
        <li class="mr15"><a href="#">
            <h4>Newpack</h4>
            <img class="shop_img" src="/static/images/shop001.png">
            <div class="price">
                <img src="/static/images/icon_dollar02.png">
                <p>1.22</p>
            </div>
        </a></li>
        <li class="mr15"><a href="#">
            <h4>Newpack</h4>
            <img class="shop_img" src="/static/images/shop002.png">
            <div class="price">
                <img src="/static/images/icon_dollar02.png">
                <p>1.22</p>
            </div>
        </a></li>
        <li><a href="#">
            <h4>Newpack</h4>
            <img class="shop_img" src="/static/images/shop003.png">
            <div class="price">
                <img src="/static/images/icon_dollar02.png">
                <p>1.22</p>
            </div>
        </a></li>
    </ul>

</div><!--end of middle-->

{% endblock %}