{% extends "frontend/member/base.html" %}

{% block title %}资本国度-会员中心-增加资金{% endblock %}
{% block body %}
<!--middle-->
<div class="main_middle middle_box">
    <h2 class="middle_tit_h2">收回</h2>
    <form name="withDrawForm" method="POST">
    {% csrf_token %}
     <div class="step_box">
         <div class="step">
             <h2 class="y">01</h2>
             <p class="h">基本信息</p>
         </div>
         <div class="line"></div>
         <div class="step">
             <h2>02</h2>
             <p>转账细节</p>
         </div>
         <div class="line"></div>
         <div class="step">
             <h2>03</h2>
             <p>确认</p>
         </div>
     </div>
    <ul class="sh_info_ul">
        <li>
            <span>现金结余:</span>
            {{ form.cash }}
        </li>
        <li>
            <span>回到额度:</span>
            {{ form.amount }}
            {% if form.amount.errors %}
                {% for error in form.amount.errors %}
                    <p class="err-msg" style="margin-left:0px">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </li>
        <li>
            <span>转到:</span>
            {{ form.pay_type }}

            {% if form.pay_type.errors %}
                {% for error in form.pay_type.errors %}
                    <p class="err-msg" style="margin-left:0px">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </li>
        <li>
            <span>银行:</span>
            {{ form.bank_code }}

            {% if form.bank_code.errors %}
                {% for error in form.bank_code.errors %}
                    <p class="err-msg" style="margin-left:0px">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </li>
        <li>
            <span>支付宝/银行卡:</span>
            {{ form.pay_account }}

            {% if form.pay_account.errors %}
                {% for error in form.pay_account.errors %}
                    <p class="err-msg" style="margin-left:0px">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </li>
        <li>
            <span>密匙:</span>
            {{ form.password }}

            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="err-msg" style="margin-left:0px">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
            {% if errmsg %}
                <p class="err-msg" style="margin-left:0px">{{ errmsg|escape }}</p>
            {% endif %}
        </li>
    </ul>
    <button class="btn_continue notxt mauto mt20" type="submit">继续</button>
    </form>
    <table class="referral_table mt30">
        <thead>
        <tr>
            <td>订单号</td>
            <td>日期</td>
            <td>回收金额</td>
            <td>状态</td>
        </tr>
        </thead>
        <tbody>
        {% for w in data.withdraws %}
        <tr>
            <td>{{ w.order_id }}</td>
            <td>{{ w.create_time | date:'Y-m-d' }}</td>
            <td>{{ w.amount }}</td>
            <td>{{ w.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div><!--end of middle-->


{% endblock %}