{% extends "en/frontend/base-noleft.html" %}
<title>{% block title %}Capital country Home- About{% endblock %}</title>
{% block body %}

<!--main content-->
<div class="main clearfloat ">
    <div class="banner pt20"><img src="/static/en/pic/banner001.png"></div>
    <div class="com_info clearfloat mt20">
        <h1 class="pic_tit mb15">Company profile</h1>
        <div class="info_left">
            <p>Rod Humble is the core founder of GlobalActionCash which originates from new finance of Bitcoin. GlobalActionCash involves elements of various virtual community games including the Sims and Second Life chiefly developed by Rod Humble. As the CEO of Linden Lab，Rod Humble with 20-year experience in game industry has engaged in developing over 200 games.Second Life is similar to reality ,where scenes or plots are provided but a 3D platform.All the persons ,events ,lands and objects are created by players in this game.If limits are mentioned,the only limit is your imagination.</p>
            <p>As a result ,GlobalActionCash was crested against the above backdrop and financial market.GlobalActionCash has brought virtual games into the real financial field,endowed users with entertainment ,met users’ demands and built a decentralized service center.Thus, users can win trophies and make money in a virtual world, driving a new recreation-community economy.GlobalActionCash works to create virtual real-person feeling and provide financial service transactions ,social contacts and entertainment.What’s more, GlobalActionCash is determined to establish an Internet-decentralized emotive and safe mechanism.It is a large comprehensive service platform of social contact,entertainment and finance.We hope more and more people are drew by the platform,thus adding more pleasure to earn money.</p>
            <p>The main difference between GlobalActionCash and Second Life is to turn constructed things into original ones.This enables members to recreate their own things,redistribute wealth and then obtain their own villas,limousines and so on. Users are close to their second-life dreams in virtual world by labors and wisdom.</p>

        </div>
        <div class="info_vedio">
                <video width="380" height="280" controls >
                    <source src="/static/video/video001.mp4" type="video/mp4" >
                    Your browser does not support Video Tags。
                </video>
        </div>
    </div>

    <div class="pluralism mt20">
        <h1 class="pic_tit mb15">Globally Multiple Operation</h1>
        <p>As a globally top comprehensive large Platform of finance，investment and entertainment,we exert ourselves to provide a host of investors with solutions,upgrade values and promote growth.This is how we can create wealth and make sure that millions of members operate safely.</p>
        <p>Our provided solutions demonstrate our function as a globally multiple service platform including advertising agencies ,private equity ,electronic-money transactions,social diversion and game lives.We have built a senior talent pool specializing in financial capital and so forth,At GlobalActionCash, we attracted talented individuals,embrace innovations , encourage independent thinking and create an honest atmosphere.Our accountability is based on the abundant capital.We remain committed to stay ahead as a large service platform of finance ,entertainment and social contact.</p>

        <img class="dy_pic" src="/static/en/pic/dy_pic.png">
    </div>
    <div class="banner mt20"><img src="/static/en/pic/banner002.png"></div>
    <div class="team_box">
        <h1 class="pic_tit">Our team</h1>
        <h2>Capital national team is a professional design and financial professionals based groups</h2>
        <ul class="chief">
            <li class="mr30">
                <span class="yellow_line"></span>
                <a href="#">
                    <div class="header_re_pic"><img src="/static/pic/tx_01.jpg"></div>
                    <div class="chief_r">
                        <h3>David</h3>
                        <p>Senior master trade</p>
                    </div>
                </a>
            </li>
            <li>
                <span class="yellow_line"></span>
                <a href="#">
                    <div class="header_re_pic"><img src="/static/pic/tx_01.jpg"></div>
                    <div class="chief_r">
                        <h3>David</h3>
                        <p>chief operating officer</p>
                    </div>
                </a>
            </li>
        </ul>
         <ul class="team_ul clearfloat">
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>David</h4>
                <span></span>
                <p>inance Director</p>
            </a></li>
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>David</h4>
                <span></span>
                <p>Finance Director</p>
            </a></li>
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>David</h4>
                <span></span>
                <p>Finance Director</p>
            </a></li>
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>David</h4>
                <span></span>
                <p>Finance Director</p>
            </a></li>
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>某某某某</h4>
                <span></span>
                <p>Finance Director</p>
            </a></li>
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>David</h4>
                <span></span>
                <p>Finance Director</p>
            </a></li>
            <li><a href="#">
                <div class="team_pic"><img src="/static/pic/tx_01.jpg"></div>
                <h4>David</h4>
                <span></span>
                <p>Finance Director</p>
            </a></li>
        </ul>

    </div>
</div>
{% endblock %}