{% extends "en/frontend/base-noleft.html" %}

<title>{% block title %}Capital country Home - Copyright{% endblock %}</title>
{% block body %}

<div class="container_re bg_hei pt50 clearfloat">
    <div class="article_box">
        <h1>Copyright</h1>
        <dl>
            <dt>CAPITAL COUNTRY TECHNOLOGY INC The following rules apply to the following materials：</dt>
            <dd>1.Any information about our website released on the Internet should ask for our permission. Send an E-mail to us.</dd>
            <dd>2.Any change to the permission of CAPITAL COUNTRY TECHNOLOGY INC is not allowed.</dd>
            <dd>3.The resource of the information should be marked in the title.When you copy something from the website, you must have a link which can link to the original page and get your information from there.</dd>
        </dl>
    </div>
</div>
{% endblock %}