{% extends "en/frontend/base.html" %}

{% block body %}

<div class="middle" style="background-color: transparent;">
    <div class="support_box">
        <ul class="support_ul">
            <li>
                <a href="http://www.grabpoints.com/">
                    <img src="/static/pic/support001.gif">
                </a>
            </li>
            <li class="mt10">
                <a href="http://www.goeasyearn.com/?ref=Michigan">
                    <img src="/static/pic/support002.gif">
                </a>
            </li>
            <li class="mt10">
                <a href="https://rewardsplaza.com/index?ref=Michigan">
                    <img src="/static/pic/support003.gif">
                </a>
            </li>
        </ul>
        <p>Advertise (as low as 1 cents per thousand)</p>
    </div>
    <img src="/static/pic/step.png">
    <div class="dowry_box mt20">
        <h1 class="pic_tit">Make Money Online</h1>
        <h2 class="sub_tit">Wanting to make more money , you can refer to our website to get more opportunities .</h2>
        <p class="mb10">Registering as a member of GlobalActionCash, you can immediately make money from all parts of the world at home. Real money comes to your account with your efforts.No investments.(100% Free to Join and Use Forever)We will offer members lots of projects on sale to make money, if you finish your registration and relevant information. Supposing that you are a promoter, you can popularize our membership and get a higher pay at the same time.With a bit of practice, you can earn a very good income.</p>
        <p>We understand in today's age everyone could use some extra cash in their pocket. At our site you may not get rich quickly but you can earn a good amount of real extra cash to put in your pocket.We will provide more opportunities of making money.This is what we aim to help you do with our site. How much you earn depends on how much time you have and are willing to invest in learning how to and doing offers.</p>
        <a href="/register/"">
            <img class="register_ad" src="/static/pic/register_ad.png">
        </a>
        <h1 class="pic_tit">We can offer you more opportunities to make money</h1>
        <ul class="doery_ul mt10">
            <li><a href="https://bitday.biz/" target="_blank"><img src="/static/pic/dowry1.gif"></a></li>
            <li><a href=" http://www.gpt1.com/" target="_blank"><img src="/static/pic/dowry2.gif"></a></li>
            <li><a href="https://freebitco.in/?r=2910069" target="_blank"><img src="/static/pic/dowry3.gif"></a></li>
            <li>
                <a href="http://highestpaygpt.com/home?refid=20" target="_blank"><img src="/static/pic/dowry4.gif"></a></li>

            <li>
                <a href="http://finosity.com/freeaccess/400in4hours.php?t=13m121115bn468400in4hoursint" target="_blank">
                    <img src="/static/pic/dowry5.gif">
                </a>
            </li>
            <li>
                <a href=" https://theminers.biz" target="_blank">
                    <img src="/static/pic/dowry6.gif">
                </a>
            </li>
            <li>
                <a href="http://superpay.me/" target="_blank">
                    <img src="/static/pic/dowry7.gif">
                </a>
            </li>
            <li>
                <a href="http://aglocoptr.com/" target="_blank">
                    <img src="/static/pic/dowry8.gif">
                </a>
            </li>

            <li><a href="http://www.stuffpoints.com/index.php?r=27082" target="_blank"><img src="/static/pic/dowry9.gif"></a></li>
            <li><a href="http://offernation.com/members/withdraw/list.php?refid=83" target="_blank"><img src="/static/pic/dowry10.gif"></a></li>
            <li><a href="http://point.st/" target="_blank"><img src="/static/pic/dowry11.gif"></a></li>
            <li><a href="https://mintvine.com/" target="_blank"><img src="/static/pic/dowry12.gif"></a></li>
        </ul>
        <ul class="campaign_ul">
            <li>
                <a href="/login/"><img src="/static/pic/campaign01.gif"></a>
                <button>click to vote></button>
            </li>
            <li>
                <a href="/login/"><img src="/static/pic/campaign02.gif"></a>
                <button>click to vote></button>
            </li>
            <li>
                <a href="/login/"><img src="/static/pic/campaign03.gif"></a>
                <button>click to vote></button>
            </li>
        </ul>
        <div class="jindu">
            <p>completed<span>65%</span></p>
            <div class="progress">
                <div class="progress_bar"></div>
            </div>
        </div>
        <h6>Please choose your projects cautiously and manage your finance and time reasonably. Every project has its own way to operate in our company. We can’t make a decision for you but a friendly remainder.</h6>
    </div>
</div><!--end of middle-->

{% endblock %}