{% extends "en/frontend/base-noleft.html" %}

<title>{% block title %}Capital country Home - The risk{% endblock %}</title>
{% block body %}

<div class="container_re bg_hei pt50 clearfloat">
    <div class="article_box">
        <h1>The risk</h1>
        <dl>
            <dd>This document is about the risk disclosure of CAPITAL COUNTRY TECHNOLOGY INC .It is to service the terms of clients’ agreement and specific clients’ agreement, which involves underlying financial risks. Clients should firstly realize the relevant potential losses.However, this file cannot reveal all risks considering the various and complicated situations. The terms adopted in this file are applied to any rules of any regulation files and share the same meaning .</dd>
            <dt>1.“Leverage effect”</dt>
            <dd>1.1.Due to the leverage effect, even the change of a small market will exert a great influence to clients.If the trend in the market is for them, the customer may maintain their initial margin and any additional losses. In addition , they should keep deposit funds remain open. The customer shall take full responsibility for all risks and trading strategies for resource utilization and selection.</dd>
            <dd>1.2. We strongly recommend keeping the margin level of not less than 1000%, as well as placing a stop loss to limit the potential loss of orders.</dd>
            <dt>2. High volatility of the instrument</dt>
            <dd>2.1. Many tools vary within a wide range of intraday price , so customers must carefullyconsider the fact that it not only has high profit margins, but also losses.</dd>
            <dt>3. Technical risk</dt>
            <dd>3.1. Customers shall bear the risks of financial loss caused by failure of information, communication and communication and other electronic systems.</dd>
            <dd>3.2. Clients shall bear financial risks in performing the transactions through the Customer Terminal
                , which can cause, connectivity failures of client hardware, software, and Internet <br>
                improper operation of the client devices <br>
                incorrect settings in the client terminal;<br>
                delayed update of client terminal <br>
                the customer's ignorance in the capital service's user guide and help describe the applicable rules</dd>
            <dd>3.3.Customers acknowledge that there may be some difficulties at peak load times
                in communicating with the telephone operator on duty, especially in the fast market.(eg.When the Key Economic Indicators released).</dd>
            <dt>4.Abnormal market conditions</dt>
            <dd>4.1.Customers must acknowledge the customer's time of executing the instructions may increment
                in abnormal market conditions.</dd>
            <dt>5.Trading platform</dt>
            <dd>5.1.Customers should acknowledge that only one request or instruction is allowed in the queue. Once a request or instruction is sent, any other requests or instructions sent by the client will be ignored. In the Orders window, the message "Order locked" appears.</dd>
            <dd>5.2.Clients must acknowledge that the only reliable source of the referenced information is the existing account of the client server.
                The quote base at the customer terminal is not considered to be a reliable source of quotation
                Information, such as a bad connection between the client and the server, some quotes may not reach the client server.</dd>
            <dd>5.3.The client must acknowledge that when  clients close the window, modify / delete a command,
                or open / close a window , the instructions or requests sent to the server will not
                be canceled.</dd>
            <dd>5.4.Clients assume the risk of performing an unscheduled transaction and receive another instruction before the previously sent instruction.</dd>
            <dd>5.5.Clients must acknowledge that if a command has been executed , clients can send an instruction to modify the level of a pending order and stop the loss and / or the level of profit orders at the same time.
                Only the instructions that will be executed are modified to stop the loss and / or take instructions at the profit level in the open position on that order.</dd>
            <dt>6.Communication</dt>
            <dd>6.1.Clients  shall bear any risk of financial loss caused by clients themselves ,eg.not receiving any notice from the company.</dd>
            <dd>6.2.Customers shall acknowledge that unencrypted information may not be transmitted by e-mail
                unauthorized access.</dd>
            <dd>6.3.Customers agree that the Company shall have the right to delete the messages sent to the Customer.
                Despite the fact that internal mail has been sent for 3 days, the client may not receive the message.
            </dd>
            <dd>6.4.The Client shall be solely responsible for obtaining information from the Company.Assuming that unauthorized access will result in one-third the risk of financial loss to the customer's trading account.</dd>
            <dt>7.Force Majeure</dt>
            <dd>7.1Customers shall bear all risks of financial loss caused by force majeure.</dd>
            <dt>8. Statutory Prohibitions and Restrictions</dt>
            <dd>8.1. Clients shall be responsible for all financial and other risks after performing the operations or relevant operations .Clients shall comply with the relevant financial market laws.CAPITAL COUNTRY TECHNOLOGY INC
            </dd>
        </dl>

    </div>
</div>
{% endblock %}