<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block keywords %}<meta name="keywords" content="your tags">{% endblock %}
    {% block description %}<meta name="description" content="150 words">{% endblock %}
    <meta name="renderer" content="webkit">
    <meta name="x5-orientation" content="portrait">
    <link rel="stylesheet" href="/static/css/stage.css">
    <title>{% block title %}资本国度{% endblock %}</title>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container_re bg_hei">
    <div class="top_ad"><a href="#"><img src="/static/pic/support001.png"></a></div>
    <div class="top_pic"></div>
    <div class="header_re clearfloat">
        <a href="#" class="logo_re"><img src="/static/pic/logo_re.png"> </a>
        <ul class="nav_bar_re">
            <li>
                <a href="/" {% if index == 'home' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">家
                </a>
            </li>
            <li>
                <a href="/about-us/" {% if index == 'about_us' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">关于我们
                </a>
            </li>
            <li>
                <a href="/register/" {% if index == 'register' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">寄存器
                </a>
            </li>
            <li>
                <a href="/login/" {% if index == 'login' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">登录
                </a>
            </li>
            <li>
                <a href="/video/" {% if index == 'video' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">视频
                </a>
            </li>
            <li>
                <a href="/faq/" {% if index == 'faq' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">常见问题
                </a>
            </li>
            <li>
                <a href="/support"  {% if index == 'support' %}class="om"{% endif %}>
                    <img src="/static/pic/nav_squar.png">支持
                </a>
            </li>
        </ul>
    </div>
    <!--end of header_re-->
    {% block body %}{% endblock %}
</div>
<div class="footer_re">
    <div class="footer_re_nav">
        <a href="/risk-disclosure/">风险披露<img src="/static/pic/icon_pdf.png"></a>
        <a href="/privacy/">隐私政策<img src="/static/pic/icon_pdf.png"></a>
        <a href="/contract/">条款和条件<img src="/static/pic/icon_pdf.png"></a>
        <a href="/about-us/">联系我们</a>
        <a href="/copyright/">版权所有<img src="/static/pic/icon_pdf.png"></a>
    </div>
    <p>Copyright © 2012-2016 capitalrev.com .All rights reserved.<br>
        © Global Action Cash 2011 - 2016 </p>
</div>
</body>
</html>