{% extends "frontend/base-noleft.html" %}

{% block title %}资本国度-版权所有{% endblock %}
{% block body %}

<div class="container_re bg_hei pt50 clearfloat">
    <div class="article_box">
        <h1>版权所有</h1>
        <dl>
            <dt>CAPITAL COUNTRY TECHNOLOGY INC 网站以下规则适用的材料的使用：</dt>
            <dd>1.发布在互联网上的网站的材料、媒介等CAPITAL COUNTRY TECHNOLOGY INC 许可要求。得到许可，电子邮件我们。</dd>
            <dd>2.不允许改变原文没有CAPITAL COUNTRY TECHNOLOGY INC事先许可。</dd>
            <dd>3.材料的来源应在标题中标明。当复制信息从CAPITAL COUNTRY TECHNOLOGY INC的网站的未来在网站上使用，你必须使用一个链接到原始页面，在那里你得到的材料。</dd>
        </dl>
    </div>
</div>
{% endblock %}