{% extends "frontend/base.html" %}

{% block title %}资本国度-FAQ{% endblock %}
{% block body %}

<div class="middle">
    <h1 class="side_tit">常见问题</h1>
    <div class="question">
        <ul class="question_list">
            <li>
                <span class="exam">Q1</span>
                <h4>Q：为什么收款人在他/她的帐户中看不到我的内部转帐？ </h4>
                <p>A：有可能您的转帐被我们的智能反欺诈监控系统视为可疑转帐，并且转发至手动处理。这个过程比自动转帐要稍长一点。若您的转帐延迟了几个小时，请不要担心。付款经验证且确认为合法后，这笔金额将被记入收款人的帐户。</p>
            </li>
            <li>
                <span class="exam">Q2</span>
                <h4>Q：为什么收款人在他/她的帐户中看不到我的内部转帐？ </h4>
                <p>A：有可能您的转帐被我们的智能反欺诈监控系统视为可疑转帐，并且转发至手动处理。这个过程比自动转帐要稍长一点。若您的转帐延迟了几个小时，请不要担心。付款经验证且确认为合法后，这笔金额将被记入收款人的帐户。</p>
            </li>
            <li>
                <span class="exam">Q3</span>
                <h4>Q：如何通过银行汇款存款？</h4>
                <p>A：A：首先，您需要验证您的帐户。验证后，您应前往“存款”部分，而后选择“银行汇款”选项。打开页面后，选择您想要通过银行汇款存款的帐户，而后输入付款金额。接下来，您需要填写表格，输入所有需要的信息，而后点击“预览”。之后，您将被要求检查输入的所有信息，从合作伙伴名单中选择主要认证兑换服务提供商和次要认证兑换服务提供商，而后点击“发送”。认证兑换服务提供商是将对您的银行汇款进行处理的交易所。若有任何疑问，请随时联系您选择处理您的银行转帐的认证兑换服务提供商。</p>
                <p class="tips">注意：必须在您的银行汇款注释中说明系统提供的发票号码。</p>
            </li>
            <li>
                <span class="exam">Q4</span>
                <h4>Q：为什么收款人在他/她的帐户中看不到我的内部转帐？ </h4>
                <p>A：有可能您的转帐被我们的智能反欺诈监控系统视为可疑转帐，并且转发至手动处理。这个过程比自动转帐要稍长一点。若您的转帐延迟了几个小时，请不要担心。付款经验证且确认为合法后，这笔金额将被记入收款人的帐户。</p>
            </li>
            <li>
                <span class="exam">Q5</span>
                <h4>Q：为什么收款人在他/她的帐户中看不到我的内部转帐？ </h4>
                <p>A：有可能您的转帐被我们的智能反欺诈监控系统视为可疑转帐，并且转发至手动处理。这个过程比自动转帐要稍长一点。若您的转帐延迟了几个小时，请不要担心。付款经验证且确认为合法后，这笔金额将被记入收款人的帐户。</p>
            </li>
            <li>
                <span class="exam">Q6</span>
                <h4>Q：为什么收款人在他/她的帐户中看不到我的内部转帐？ </h4>
                <p>A：有可能您的转帐被我们的智能反欺诈监控系统视为可疑转帐，并且转发至手动处理。这个过程比自动转帐要稍长一点。若您的转帐延迟了几个小时，请不要担心。付款经验证且确认为合法后，这笔金额将被记入收款人的帐户。</p>
            </li>
            <li><a href="#" class="view_more">查看更多</a></li>
        </ul>
    </div>

</div><!--end of middle-->
{% endblock %}