{% extends "frontend/base.html" %}

{% block title %}资本国度首页{% endblock %}
{% block body %}

<div class="middle" style="background-color: transparent;">
    <div class="support_box">
        <ul class="support_ul">
            <li><a href=""><img src="/static/pic/support001.gif"></a></li>
            <li class="mt10"><a href=""><img src="/static/pic/support002.gif"></a></li>
            <li class="mt10"><a href="http://newgptsites.blinkweb.com/"><img src="/static/pic/support003.gif"></a></li>
        </ul>
        <p>刊登广告（低至1分钱每千次展示）</p>
    </div>
    <img src="/static/pic/step.png">
    <div class="dowry_box mt20">
        <h1 class="pic_tit"><img src="/static/pic/text001.png"></h1>
        <h2 class="sub_tit">赚更多的钱请到在网上查询资本国度网站，我们付给你更多的赚钱机会！</h2>
        <p class="mb10">注册成为资本国度会员，马上开始在家上网赚全世界各地的钱，只要你付出劳动，就会得到真实有效的钱进入你的账户， 不投资（100％自由加入和永久使用），完成注册及相关资料工作项目栏目中有很多以及上架的商家项目以供会员参与赚 钱。如果你是个推广员，你可以在我们网站上进行推广会员，同时可以有机会得到更多的收入，只要稍加练习，你可以赚 取相当不错的收入。</p>
        <p>我们理解在当今时代每个人都可以使用一些额外的现金在里面的口袋里。在我们的网站，你可能不会快速致富，但只要相信平台，并你可以付出行动，你就可赚取真实额外的现金量好放在你的口袋里，我们的平台会有更多的赚钱机会提供给大家，你选择资本国度平台，就是你成功的开始,你挣多少钱取决于你有多少时间和愿意投资在学习如何和做报价</p>
        <a href="/register/"">
            <img class="register_ad" src="/static/pic/register_ad.png">
        </a>
        <h1 class="pic_tit"><img src="/static/pic/text002.png"></h1>
        <ul class="doery_ul mt10">
            <li><a href="https://bitday.biz/" target="_blank"><img src="/static/pic/dowry1.gif"></a></li>
            <li><a href=" http://www.gpt1.com/" target="_blank"><img src="/static/pic/dowry2.gif"></a></li>
            <li><a href="https://freebitco.in/?r=2910069" target="_blank"><img src="/static/pic/dowry3.gif"></a></li>
            <li>
                <a href="http://highestpaygpt.com/home?refid=20" target="_blank"><img src="/static/pic/dowry4.gif"></a></li>

            <li>
                <a href="http://finosity.com/freeaccess/400in4hours.php?t=13m121115bn468400in4hoursint" target="_blank">
                    <img src="/static/pic/dowry5.gif">
                </a>
            </li>
            <li>
                <a href=" https://theminers.biz" target="_blank">
                    <img src="/static/pic/dowry6.gif">
                </a>
            </li>
            <li>
                <a href="http://superpay.me/" target="_blank">
                    <img src="/static/pic/dowry7.gif">
                </a>
            </li>
            <li>
                <a href="http://aglocoptr.com/" target="_blank">
                    <img src="/static/pic/dowry8.gif">
                </a>
            </li>

            <li><a href="http://myinfinitedownline.com/?ref=christinersilva" target="_blank"><img src="/static/pic/dowry9.gif"></a></li>
            <li><a href="http://offernation.com/members/withdraw/list.php?refid=83" target="_blank"><img src="/static/pic/dowry10.gif"></a></li>
            <li><a href="http://point.st/" target="_blank"><img src="/static/pic/dowry11.gif"></a></li>
            <li><a href="https://mintvine.com/" target="_blank"><img src="/static/pic/dowry12.gif"></a></li>
        </ul>
        <ul class="campaign_ul">
            <li>
                <a href="/login/"><img src="/static/pic/campaign01.gif"></a>
                <button>点击投票></button>
            </li>
            <li>
                <a href="/login/"><img src="/static/pic/campaign02.gif"></a>
                <button>点击投票></button>
            </li>
            <li>
                <a href="/login/"><img src="/static/pic/campaign03.gif"></a>
                <button>点击投票></button>
            </li>
        </ul>
        <div class="jindu">
            <p>已完成<span>65%</span></p>
            <div class="progress">
                <div class="progress_bar"></div>
            </div>
        </div>
        <h6>请会员慎重选择自己参与的项目进行工作，各种项目公司都有不同的方式请妥善
            管理好自己的财务及时间安排，我们在这里只能进行友情提示，不能帮您做出决定。</h6>
    </div>
</div><!--end of middle-->

{% endblock %}