{% extends "frontend/base.html" %}

{% block title %}资本国度-会员注册{% endblock %}
{% block body %}

<!--main content-->
<div class="middle">
    <h1 class="side_tit">寄存器</h1>
    <p>{{ errmsg }}</p>
    <form name="regform" method="POST">
        {% csrf_token %}
        <ul class="setting_ul mt30" style="padding-left:15px;">
            <li>
                <span>名</span>
                <input id="first_name" maxlength="64" name="first_name" type="text" />
            </li>
            <li>
                <span>姓</span>
                <input id="last_name" maxlength="64" name="last_name" type="text" />
            </li>
            <li>
                <span>用户名</span>
                <input id="username" maxlength="64" name="username" type="text" />
            </li>
            <li>
                <span>密码</span>
                <input id="password" maxlength="64" name="password" type="password" />
            </li>
            <li>
                <span>确认密码</span>
                <input id="confirm_password" maxlength="64" name="confirm_password" type="password" />
            </li>
            <li>
                <span>电子邮件</span>
                <input id="email" maxlength="64" name="email" type="text" />
            </li>
            <li>
                <span>电话号码</span>
                <input id="phone" maxlength="64" name="phone" type="text" />
            </li>

            <li class="mt30">
                <span></span>
                <h2>邮寄地址</h2>
            </li>
            <li>
                <span>地址1</span>
                <input id="address1" name="address1" type="text" />
            </li>
            <li>
                <span>地址2</span>
                <input id="address2" name="address2" type="text" />
            </li>
            <li>
                <span>市</span>
                <select id="city" name="city" class="dfinput" style="width:114px;"></select>
            </li>
            <li>
                <span>州/省</span>
                <select id="provincy" name="provincy" class="dfinput" style="width:114px;"></select>
            </li>
            <li>
                <span>国家</span>
                <select id="country" name="country" class="dfinput" style="width:114px;"></select>
            </li>
            <li>
                <span>邮政编码</span>
                <input id="zip_code" maxlength="64" name="zip_code" type="text" />
            </li>
            <li class="mt30">
                <span></span>
                <h2>附加字段</h2>
            </li>
            <li>
                <span>性别</span>
                <select id="sexal" name="sexal">
                    <option value="male">男</option>
                    <option value="female">女</option>
                </select>
            </li>
            <li>
                <span>年龄</span>
                <select id="age" name="age">
                {% for age in ages %}
                    <option value="{{ age }}">{{ age }}</option>
                {% endfor %}
                </select>
            </li>
            <li>
                <span>您的真实信息</span>
                <label><input id="is_info_real" name="is_info_real" type="checkbox" /><i>是的，我明白，如果我不使用自己的真实信息，我将不<br>会支付和付款被发送之前所有账户都Verifyed</i></label>
            </li>
            <li>
                <span>推荐人会员#</span>
                <input id="recommend_user" maxlength="64" name="recommend_user" readonly="readonly" type="text" />
            </li>
            <li>
                <span>安全码</span>
                <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">  
                <input class="w120" type="text" id="id_reg_captcha_1" name="id_reg_captcha_1">
                <div class="verfiry_code">
                    <a href="#" class="next-captcha">
                        <img src="{{ captcha_url }}" class="captcha" alt="captcha">
                    </a>
                </div>
            </li>
            <li>
                <span></span>
                <label><input id="is_agree" name="is_agree" type="checkbox" /><i>我已阅读并同意 条款和条件与全球行动现金</i></label>
            </li>
        </ul>
        <button class="btn_jicun mt40 mauto" type="button" onclick="reg();"></button>
    </form>
</div><!--end of middle-->
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/pc.js"></script>    
<script type="text/javascript" src="/static/js/pcEn.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    new PCAS("country","provincy","city");
    // new PCASEN("c_countryEn","c_provinceEn","c_cityEn");

    // 刷新验证码  
    $(".next-captcha").click(function(event){  
        $.getJSON("/member/refresh-captcha/", function(json) {  
            // This should update your captcha image src and captcha hidden input  
            // debugger;  
            var status = json['status'];  
            var new_cptch_key = json['new_cptch_key'];  
            var new_cptch_image = json['new_cptch_image'];  
            id_captcha_0 = $("#id_reg_captcha_0");  
            img = $(".captcha");  
            id_captcha_0.attr("value", new_cptch_key);  
            img.attr("src", new_cptch_image);  
        });
        event.preventDefault();
    });
});

function reg() {
    var first_name = $('#first_name').val();
    var last_name = $('#last_name').val();
    var username = $('#username').val();
    var password = $('#password').val();
    var confirm_password = $('#confirm_password').val();
    var email = $('#email').val();
    var phone = $('#phone').val();
    var address1 = $('#address1').val();
    var address2 = $('#address2').val();
    var city = $('#city').val();
    var provincy = $('#provincy').val();
    var country = $('#country').val();
    var zip_code = $('#zip_code').val();
    var age = $('#age').val();
    var sexal = $('#sexal').val();
    var recommend_user = $('#recommend_user').val();
    var captcha_code = $('#id_reg_captcha_1').val();

    if ($.trim(first_name) == '') {
        alert('请输入名');
        return false;
    }
    if ($.trim(last_name) == '') {
        alert('请输入姓');
        return false;
    }
    if ($.trim(username) == '') {
        alert('请输入用户名');
        return false;
    }
    if ($.trim(password) == '' || $.trim(confirm_password) == '') {
        alert('请输入密码');
        return false;
    }
    if ($.trim(password) != $.trim(confirm_password)) {
        alert('两次密码输入不一致');
        return false;
    }
    if ($.trim(age) == '') {
        alert('请选择年龄');
        return false;
    }
    if ($.trim(email) == '') {
        alert('请输入电子邮件');
        return false;
    }
    if ($.trim(phone) == '+86' || $.trim(phone) == '') {
        alert('请输入手机号码');
        return false;
    }
    if ($.trim(city) == '') {
        alert('请输入市');
        return false;
    }
    if ($.trim(country) == '') {
        alert('请输入国家');
        return false;
    }
    if ($.trim(zip_code) == '') {
        alert('请输入邮政编码');
        return false;
    }
    if ($.trim(captcha_code) == '') {
        alert('请输入验证码');
        return false;
    }
    if (!$('#is_info_real').is(':checked')) {
        alert('请勾选确认真实信息按钮');
        return false;
    }
    if (!$('#is_agree').is(':checked')) {
        alert('请勾选同意条款按钮');
        return false;
    }

    var params = {
        first_name: first_name,
        last_name: last_name,
        username: username,
        password: password,
        confirm_password: confirm_password,
        email: email,
        phone: phone,
        address1: address1,
        address2: address2,
        city: city,
        provincy: provincy,
        country: country,
        zip_code: zip_code,
        age: age,
        sexal: sexal,
        recommend_user: recommend_user,
        captcha_code: captcha_code,
        captcha_code_key: $('#id_reg_captcha_0').val()
    }
    $.ajax({
        url: '/register/',
        type: 'POST',
        dataType: 'json',
        data: params,
        success: function(resp) {
            if (resp.c == 0) {
                alert('注册成功，请登陆')
                // location.reload();
            } else {
                alert(resp.m);
            }
        }
    });
}
</script>
{% endblock %}