{% extends "frontend/base.html" %}

{% block title %}资本国度-支持{% endblock %}
{% block body %}

<div class="middle" style="background-color: transparent;">
    <div class="support_box">
        <ul class="support_ul">
            <li>
                <a href="http://www.grabpoints.com/">
                    <img src="/static/pic/support001.gif">
                </a>
            </li>
            <li class="mt10">
                <a href="http://www.goeasyearn.com/?ref=Michigan">
                    <img src="/static/pic/support002.gif">
                </a>
            </li>
            <li class="mt10">
                <a href="https://rewardsplaza.com/index?ref=Michigan">
                    <img src="/static/pic/support003.gif">
                </a>
            </li>
        </ul>
    </div>
    <div class="ticket">
        <h1 class="side_tit">创建门票</h1>
        <div class="ticket_box">
            <div class="create_ticket">
                <div class="create_top">
                    <h2>创建门票</h2>
                    <select name="" id="">
                        <option value="">浏览门票</option>
                    </select>
                </div>
                <p>您的账户当前被标记为”您已切换地理位置自登记，清寻求帮助管理员。”如过您需要任何帮助，请随时发送给我们的帮助车票。</p>
            </div>
        </div>
        <div class="tik_table">
            <h4>学科记录：</h4>
            <table class="referral_table">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>问题</td>
                    <td>创建问题</td>
                    <td>状态</td>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.username }}</td>
                    <td>{{ d.title }}</td>
                    <td>{{ d.create_time }}</td>
                    <td>{{ d.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="info_box">
            <form name="feedbackForm" method="POST">
                {% csrf_token %}
                {% if errmsg %}
                    <p class="err-msg" style="margin: 5px 0 0 30px">{{ errmsg|escape }}</p>
                {% endif %}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <p class="err-msg" style="margin: 5px 0 0 30px">{{ error|escape }}</p>
                    {% endfor %}
                {% endif %}

                {% if form.content.errors %}
                    {% for error in form.content.errors %}
                        <p class="err-msg" style="margin: 5px 0 0 30px">{{ error|escape }}</p>
                    {% endfor %}
                {% endif %}
                <ul class="create_info">
                    <li>
                        <span>学科</span>
                        {{ form.title }}
                    </li>
                    <li>
                        <span>部</span>
                        {{ form.ctype }}
                    </li>
                    <li>
                        <span>信息</span>
                        {{ form.content }}
                    </li>
                </ul>
                <p>请输入您所遇到的问题的简短消息，您将尽快得到答复。</p>
                <button class="btn_globe mauto" type="submit">提交</button>
            </form>
        </div>
    </div>
</div><!--end of middle-->
{% endblock %}