{% extends "frontend/base-noleft.html" %}

{% block title %}资本国度-视频介绍{% endblock %}
{% block body %}

<!--main content-->
<div class="main clearfloat mt20">
    <div class="video_box clearfloat">
        <div class="video fl mr20" >
            <h2>ASPIRE Testimoninal</h2>
            <h4>Chiara Ftancica Malta</h4>
            <video width="420" height="240" controls >
                <source src="/static/video/video001.mp4" type="video/mp4" >
                您的浏览器不支持Video标签。
            </video>
            <p>视频简短介绍：关于资本国度的一些简单介绍，让您充分了解我们公司的一些基本情况，给予您最基本的信任...</p>
        </div>
        <div class="video fr" >
            <h2>ASPIRE Testimoninal</h2>
            <h4>Chiara Ftancica Malta</h4>
            <video width="420" height="240" controls >
                <source src="/static/video/video001.mp4" type="video/mp4" >
                您的浏览器不支持Video标签。
            </video>
            <p>视频简短介绍：关于资本国度的一些简单介绍，让您充分了解我们公司的一些基本情况，给予您最基本的信任...</p>
        </div>
    </div>
    <div class="tc mt10 mb10"><img src="/static/pic/split-line.png"></div>
    <div class="video_box clearfloat">
        <div class="video fl mr20" >
            <h2>ASPIRE Testimoninal</h2>
            <h4>Chiara Ftancica Malta</h4>
            <video width="420" height="240" controls >
                <source src="/static/video/video001.mp4" type="video/mp4" >
                您的浏览器不支持Video标签。
            </video>
            <p>视频简短介绍：关于资本国度的一些简单介绍，让您充分了解我们公司的一些基本情况，给予您最基本的信任...</p>
        </div>
        <div class="video fr" >
            <h2>ASPIRE Testimoninal</h2>
            <h4>Chiara Ftancica Malta</h4>
            <video width="420" height="240" controls >
                <source src="/static/video/video001.mp4" type="video/mp4" >
                您的浏览器不支持Video标签。
            </video>
            <p>视频简短介绍：关于资本国度的一些简单介绍，让您充分了解我们公司的一些基本情况，给予您最基本的信任...</p>
        </div>
    </div>
    <div class="tc mt10 mb10"><img src="/static/pic/split-line.png"></div>
    <a href="#" class="more_video">查看更多视频</a>
</div>
{% endblock %}