{% extends "en/frontend/base.html" %}

<title>{% block title %}Capital country Home - Forget Password{% endblock %}</title>
{% block body %}

<!--main content-->
<div class="middle">
    <h1 class="side_tit">Forget Password</h1>
    <div class="login_box">
        <ul class="login_ul">
            <li>
                <h5>email</h5>
                <input type="text" required name="email" id="email">
            </li>
            <li>
                <h5>safety code</h5>
                <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">
                <input class="w150" type="text" id="id_reg_captcha_1" name="id_reg_captcha_1">
                <div class="captcha">
                    <a href="#" class="next-captcha">
                        <img src="{{ captcha_url }}" class="captcha-img" alt="captcha">
                    </a>
                </div>
            </li>
            <li style="padding-left: 90px;"><button class="btn_globe" onclick="find_pwd()">Submit</button></li>
        </ul>
    </div>
</div><!--end of middle-->

<div class="popup" id="pop" style="display:none">
    <h1>tips<button id="btn_close" onclick="javascript:document.getElementById('pop').style.display='none'"></button></h1>
    <div class="pop_body">
        <p class="pop_tip">please check your email</p>
    </div>
    <div class="pop_bottom">
        <button class="pop_sure" onclick="javascript:document.getElementById('pop').style.display='none'">Confirm</button>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $(".next-captcha").click(function(event){
        refresh_code();
        event.preventDefault();
    });
});

function refresh_code() {
    $.getJSON("/member/refresh-captcha/", function(json) {
        // This should update your captcha image src and captcha hidden input
        // debugger;
        var status = json['status'];
        var new_cptch_key = json['new_cptch_key'];
        var new_cptch_image = json['new_cptch_image'];
        id_captcha_0 = $("#id_reg_captcha_0");
        img = $(".captcha-img");
        id_captcha_0.attr("value", new_cptch_key);
        img.attr("src", new_cptch_image);
    });
}

function find_pwd() {
    var email = $('#email').val();
    var captcha_code = $('#id_reg_captcha_1').val();

    if ($.trim(email) == '') {
        alert('please enter email');
        return false;
    }
    if ($.trim(captcha_code) == '') {
        alert('please enter safety code');
        return false;
    }

    var params = {
        email: email,
        captcha_code: captcha_code,
        captcha_code_key: $('#id_reg_captcha_0').val()
    }
    $.ajax({
        url: '/member/find-password/',
        type: 'POST',
        dataType: 'json',
        data: params,
        success: function(resp) {
            if (resp.c == 0) {
                $('#pop').show();
            } else {
                refresh_code();
                alert('falied');
            }
        }
    });
}
</script>
{% endblock %}