{% extends "en/frontend/member/base.html" %}

<title>{% block title %}Capital country Home - Direct recommendation{% endblock %}</title>

{% block body %}
<!--middle-->
<div class="main_middle middle_box" style="min-height:828px;">
    <h2 class="middle_tit_h2">Direct recommendation</h2>
    <div class="groom_box">
        <h1>Gross income：<span>$ {{ data.ubalance.invite_benifit }}</span></h1>
        <p>Last update：<span>{{ data.ubalance.update_time}}</span></p>
        <div class="tc mt10 mb10"><img src="/static/images/split-line.png"></div>
        <h2><img src="/static/images/icon_link.png">My referral link</h2>
        <p class="mt15 mb10">Get each referral link to bring sponsorees Commission 10%</p>
        <div class="link_box">
            <input type="text" value="{{ data.invite_url }}" readonly id="biao1">
            <button onclick="copyUrl2();">Copy link</button>
        </div>
        <p class="mt20 mb10">picture:<a href="{{ data.invite_url }}">{{ data.invite_url }}</a></p>
        <img src="/static/images/link_pic.png">
        <div class="tc mt10 mb10"><img src="/static/images/split-line.png"></div>
        <h2 class="mb20"><img src="/static/images/icon_link.png">My Sponsorees</h2>
        <table class="match_table">
            <thead>
            <tr>
                <td>username</td>
                <td>Creation Date</td>
                <td>Invite number</td>
                <td>Last login</td>
                <td>My commission</td>
            </tr>
            </thead>
            <tbody class="bge">
            {% for ucon in data.uconnect %}
            <tr>
                <td class="no_left_border no_bottom_border">{{ ucon.username }}</td>
                <td class="no_bottom_border">{{ ucon.reg_time }}</td>
                <td class="no_bottom_border">{{ ucon.recommends }}</td>
                <td class="no_bottom_border">{{ ucon.last_login }}</td>
                <td class="no_bottom_border">$ {{ ucon.invite_benifit }} </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div><!--end of middle-->

{% endblock %}

{% block script %}
<script type="text/javascript">
function copyUrl2() {
    var Url2=document.getElementById("biao1");
    Url2.select();
    document.execCommand("Copy");
    alert("success");
}
</script>
{% endblock %}