{% extends "en/frontend/member/base.html" %}

<title>{% block title %}Capital country Home - shop{% endblock %}</title>
{% block body %}
<!--middle-->
<div class="main_middle">
    <h1 class="pic_tit">Business</h1>
    <ul class="presentation_ul mt10">
        <li><a href="https://bitday.biz/" target="_blank"><img src="/static/pic/dowry1.gif"></a></li>
            <li><a href=" http://www.gpt1.com/" target="_blank"><img src="/static/pic/dowry2.gif"></a></li>
            <li><a href="https://freebitco.in/?r=2910069" target="_blank"><img src="/static/pic/dowry3.gif"></a></li>
            <li>
                <a href="http://highestpaygpt.com/home?refid=20" target="_blank"><img src="/static/pic/dowry4.gif"></a></li>

            <li>
                <a href="http://finosity.com/freeaccess/400in4hours.php?t=13m121115bn468400in4hoursint" target="_blank">
                    <img src="/static/pic/dowry5.gif">
                </a>
            </li>
            <li>
                <a href=" https://theminers.biz" target="_blank">
                    <img src="/static/pic/dowry6.gif">
                </a>
            </li>
            <li>
                <a href="http://superpay.me/" target="_blank">
                    <img src="/static/pic/dowry7.gif">
                </a>
            </li>
            <li>
                <a href="http://aglocoptr.com/" target="_blank">
                    <img src="/static/pic/dowry8.gif">
                </a>
            </li>
    </ul>
    <div class="tc mt10 mb10"><img src="/static/images/split-line.png"></div>
    <ul class="presentation_ul">
        <li>
            <a href="http://myinfinitedownline.com/?ref=christinersilva" target="_blank">
                <img src="/static/pic/dowry9.gif">
            </a>
        </li>
        <li>
            <a href="http://offernation.com/members/withdraw/list.php?refid=83" target="_blank">
                <img src="/static/pic/dowry10.gif">
            </a>
        </li>
        <li>
            <a href="http://point.st/" target="_blank">
                <img src="/static/pic/dowry11.gif">
            </a>
        </li>
        <li>
            <a href="https://mintvine.com/" target="_blank">
                <img src="/static/pic/dowry12.gif">
            </a>
        </li>
    </ul>
    <div class="warning mt40">
        <p class="mb10">warning：Some offers are considered risky，</p>
        <p>These quotes will be credited to you for 30 days after the completion of the payment to us from any fraudulent or unpaid advertiser.</p>
    </div>
</div><!--end of middle-->
{% endblock %}