{% extends "en/frontend/member/base.html" %}

{% block title %}Capital country Home - sub member{% endblock %}
{% block body %}
<!--middle-->
<div class="main_middle middle_box" style="overflow-x:scroll; padding-bottom:100px;">
    <h2 class="middle_tit_h2 pab"><img src="/static/images/icon_message.png">你的下线</h2>
    <div class="junior_box" style="width:1300px; padding-top:50px;">
        <!--一级-->
        <div class="one_level">
            <div class="junior_user" style="margin:40px auto 0 auto;">
                <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                <h2>{{ nets.name }}</h2>
                <ul>
                    <li>L:{{ nets.lnums }}人</li>
                    <li>R:{{ nets.rnums }}人</li>
                </ul>
            </div>
        </div>
        <!--二级-->
        
        <div class="two_level_box">
        {% if nets.left2.name or nets.right2.name %}
            <img class="branch_img" src="/static/images/branch_c.png" alt="">
        {% endif %}
            <div class="two_level">
                
                {% if nets.left2.name %}
                <div class="junior_user fl">
                    <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                    <h2>{{ nets.left2.name }}</h2>
                    <ul>
                        <li>L:{{ nets.left2.lnums }}人</li>
                        <li>R:{{ nets.left2.rnums }}人</li>
                    </ul>
                </div>
                {% endif %}
                
                {% if nets.right2.name %}
                <div class="junior_user fr">
                    <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                    <h2>{{ nets.right2.name }}</h2>
                    <ul>
                        <li>L:{{ nets.right2.lnums }}人</li>
                        <li>R:{{ nets.right2.rnums }}人</li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        
        <!--三级-->
        <div class="clearfloat" style="width:1000px; margin:0 auto;">
            
            <div class="three_level_box fl">
            {% if nets.left2.left3.name or nets.left2.right3.name %}
                <img class="branch_img" src="/static/images/branch_a.png" alt="">
            {% endif %}
                <div class="three_level">
                    
                    {% if nets.left2.left3.name %}
                    <div class="junior_user fl">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.left2.left3.name }}</h2>
                        <ul>
                            <li>L:{{ nets.left2.left3.lnums }}人</li>
                            <li>R:{{ nets.left2.left3.lnums }}人</li>
                        </ul>                   
                    </div>
                    {% endif %}
                    
                    {% if nets.left2.right3.name %}
                    <div class="junior_user fr">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.left2.right3.name }}</h2>
                        <ul>
                            <li>L:{{ nets.left2.right3.lnums }}人</li>
                            <li>R:{{ nets.left2.right3.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
            

            
            <div class="three_level_box fr">
            {% if nets.right2.left3.name or nets.right2.right3.name %}
                <img class="branch_img" src="/static/images/branch_a.png" alt="">
            {% endif %}
                <div class="three_level">
                    
                    {% if nets.right2.left3.name %}
                    <div class="junior_user fl">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.right2.left3.name }}</h2>
                        <ul>
                            <li>L:{{ nets.right2.left3.lnums }}人</li>
                            <li>R:{{ nets.right2.left3.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                    
                    {% if nets.right2.right3.name %}
                    <div class="junior_user fr">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.right2.right3.name }}</h2>
                        <ul>
                            <li>L:{{ nets.right2.right3.lnums }}人</li>
                            <li>R:{{ nets.right2.right3.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--四级-->
        <div class="four_level_box">
            
            <div style="margin-left:80px;" class="four_level">
            {% if nets.left2.left3.left4.name or nets.left2.left3.right4.name %}
                <img class="branch_img" src="/static/images/branch_b.png" alt="">
            {% endif %}
                <div class="clearfloat">

                    {% if nets.left2.left3.left4.name %}
                    <div class="junior_user fl">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.left2.left3.left4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.left2.left3.left4.lnums }}人</li>
                            <li>R:{{ nets.left2.left3.left4.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                    
                    {% if nets.left2.left3.right4.name %}
                    <div class="junior_user fr">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.left2.left3.right4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.left2.left3.right4.lnums }}人</li>
                            <li>R:{{ nets.left2.left3.right4.rnums }}人</li>
                        </ul>
                    </div>     
                    {% endif %}       
                </div>
            </div>
        
            
            <div style="margin-left:45px;" class="four_level">
            {% if nets.left2.right3.left4.name or nets.left2.right3.right4.name %}
                <img class="branch_img" src="/static/images/branch_b.png" alt="">
            {% endif %}
                <div class="clearfloat">
                    
                    {% if nets.left2.right3.left4.name %}
                    <div class="junior_user fl">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.left2.right3.left4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.left2.right3.left4.lnums }}人</li>
                            <li>R:{{ nets.left2.right3.left4.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                    
                    {% if nets.left2.right3.right4.name %}
                    <div class="junior_user fr">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.left2.right3.right4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.left2.right3.right4.lnums }}人</li>
                            <li>R:{{ nets.left2.right3.right4.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            

            
            <div  class="four_level">
            {% if nets.right2.left3.left4.name or nets.right2.left3.right4.name %}
                <img class="branch_img" src="/static/images/branch_b.png" alt="">
            {% endif %}
                <div class="clearfloat">
                    {% if nets.right2.left3.left4.name %}
                    <div class="junior_user fl">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.right2.left3.left4.name }}</h2>
                        <ul>
                            <li>L:152人</li>
                            <li>R:8人</li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if nets.right2.left3.right4.name %}
                    <div class="junior_user fr">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.right2.left3.right4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.right2.left3.right4.lnums }}人</li>
                            <li>R:{{ nets.right2.left3.right4.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            
            <div style="margin-left:42px;" class="four_level">
            {% if  nets.right2.right3.left4.name or nets.right2.right3.right4.name %}
                <img class="branch_img" src="/static/images/branch_b.png" alt="">
            {% endif %}
                
                <div class="clearfloat">
                    {% if nets.right2.right3.left4.name %}
                    <div class="junior_user fl">
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.right2.right3.left4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.right2.right3.left4.lnums }}人</li>
                            <li>R:{{ nets.right2.right3.left4.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                    
                    {% if nets.right2.right3.right4.name %}
                    <div class="junior_user fr">
                    
                        <img class="junior_img" src="/static/images/tx_01.jpg" alt="">
                        <h2>{{ nets.right2.right3.right4.name }}</h2>
                        <ul>
                            <li>L:{{ nets.right2.right3.right4.lnums }}人</li>
                            <li>R:{{ nets.right2.right3.right4.rnums }}人</li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div><!--end of middle-->
{% endblock %}